<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button Href="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-md='8' class="ion-text-center">
        <ion-card>
          <ion-card-content>
            <img src="{{place.image}}" />
            <p>{{place.description }}</p>
            <p>Available From: {{place.availableFrom | date}}</p>
            <p>Available To: {{place.availableTo | date}}</p>
          </ion-card-content>
        </ion-card>
        <ion-button [routerLink]="['/','tabs','tab2','editoffer',place.id]">Edit</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

