<ion-app>
  <ion-menu>
    <ion-header>
      <ion-toolbar>
        <ion-title>BeachBnB</ion-title>
      </ion-toolbar>
    </ion-header> 
    <ion-content>
      <ion-list>
        <ion-menu-toggle> <!-- To close menu automatically -->
          <ion-item lines="none" routerLink="/tabs/tab1">
            <ion-icon name='business' slot="start"></ion-icon>
            <ion-label>Discover Places</ion-label>
          </ion-item>
          <ion-item lines="none" routerLink="/booking">
            <ion-icon name='checkbox' slot="start"></ion-icon>
            <ion-label>My Bookings</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
